<header>
  <div class="container">
    <div class="logo">
      <a href="#">EVNX.</a>
    </div>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Category <i class="fas fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#"><img src="assets/icons/full-face-helmet.svg" alt="Full Face Helmet"> Full Face Helmet</a></li>
            <li><a href="#"><img src="assets/icons/modular-helmet.svg" alt="Modular Helmet"> Modular Helmet</a></li>
            <li><a href="#"><img src="assets/icons/half-face-helmet.svg" alt="Half Face Helmet"> Half Face Helmet</a></li>
          </ul>
        </li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </nav>
    <div class="search-cart">
      <div class="currency-select">
        <a href="#" class="currency-toggle">USD <i class="fas fa-chevron-down"></i></a>
        <ul class="currency-dropdown-menu">
          <li><a href="#">USD</a></li>
          <li><a href="#">EUR</a></li>
          <li><a href="#">GBP</a></li>
        </ul>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search">
        <button><i class="fas fa-search"></i></button>
      </div>
      <a href="#" class="cart-icon"><img src="assets/icons/cart-icon.svg" alt="Cart"></a>
      <a href="#" class="user-icon"><img src="assets/icons/user-icon.svg" alt="User"></a>
    </div>
    <button class="hamburger" (click)="toggleMenu()">☰</button>
  </div>
</header>
