header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e53e3e;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #ff4f37;
}

nav ul li .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0.5rem 0;
  width: 200px; /* Adjust the width as needed */
}

nav ul li .dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

nav ul li .dropdown-menu li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  width: 100%;
  transition: color 0.3s;
}

nav ul li .dropdown-menu li a img {
  width: 24px; /* Adjust the size as needed */
  height: 24px;
  margin-right: 0.5rem;
}

nav ul li:hover .dropdown-menu {
  display: block;
}

nav ul li .dropdown-toggle::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 0.5rem;
  transition: color 0.3s;
}

nav ul li:hover .dropdown-toggle::after,
nav ul li:hover .dropdown-toggle,
nav ul li a.active .dropdown-toggle::after,
nav ul li a.active .dropdown-toggle {
  color: #ff4f37;
}

.search-cart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.currency-select {
  position: relative;
}

.currency-select .currency-toggle {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.currency-select .currency-toggle::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 0.5rem;
  transition: color 0.3s;
}

.currency-select:hover .currency-toggle::after,
.currency-select:hover .currency-toggle,
.currency-select .currency-toggle.active::after,
.currency-select .currency-toggle.active {
  color: #ff4f37;
}

.currency-select .currency-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0.5rem 0;
  width: 100px; /* Adjust the width as needed */
}

.currency-select:hover .currency-dropdown-menu {
  display: block;
}

.currency-select .currency-dropdown-menu li {
  padding: 0.5rem 1rem;
}

.currency-select .currency-dropdown-menu li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.currency-select .currency-dropdown-menu li a:hover {
  color: #ff4f37;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-box input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 150px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-box button {
  padding: 0.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.search-box button i {
  font-size: 1rem;
  color: #333;
}

.cart-icon img,
.user-icon img {
  width: 24px;
  height: 24px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
  }

  nav ul li .dropdown-menu {
    position: static;
  }

  .hamburger {
    display: block;
  }

  .menu-open nav ul {
    display: flex;
  }
}
