.new-products {
  text-align: center;
  margin: 50px 0;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #e53e3e;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #c53030;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
