<section class="new-products">
  <div class="container">
    <h2>New Products</h2>
    <div class="carousel">
      <div
        class="carousel-inner"
        [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
      >
        <div class="carousel-item" *ngFor="let product of products">
          <img src="https://via.placeholder.com/150" alt="{{ product.name }}" />
          <h3>{{ product.name }}</h3>
          <p>{{ product.price }}</p>
          <button>Buy Now</button>
        </div>
      </div>
      <button class="prev" (click)="prev()">&#10094;</button>
      <button class="next" (click)="next()">&#10095;</button>
    </div>
  </div>
</section>
