<app-header></app-header>
<app-hero></app-hero>
<app-new-products></app-new-products>
<app-blog></app-blog>
<app-footer></app-footer>
<app-mini-cart></app-mini-cart>
<app-hamburger-menu></app-hamburger-menu>